.page404{
    text-align: center;
    font-size: 36px;
    & img{
        display: block;
        margin: 0 auto;
    }
    & a{
        display: block;
        font-weight: bold;
        color:#9F0013;
    }
}